C:\My Files\Projects\Youtube-Project\youtubeclone\db.sqlite3,
C:\My Files\Projects\Youtube-Project\youtubeclone\__pycache__,
C:\My Files\Projects\Youtube-Project\youtubeclone\.env,
C:\My Files\Projects\Youtube-Project\youtubeclone\.vscode,
C:\My Files\Projects\Youtube-Project\youtubeclone\.idea,
C:\My Files\Projects\Youtube-Project\youtubeclone\.DS_Store,
C:\My Files\Projects\Youtube-Project\youtubeclone\.pytest_cache,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.data,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.data.json,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.json,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.xml,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.html,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.txt,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.log,
C:\My Files\Projects\Youtube-Project\youtubeclone\.coverage.*.sqlite3,\